<!DOCTYPE html>
<html>


<link rel="stylesheet" href="/stylesheets/profile.css"/>

 <title>Elvin Ng Profile


  </title>

<link rel="stylesheet" href="profile.css">

<div id="title">
<h1>Elvin Ng
  </h1>
</div>


<div id="pictureelvin"> <img id="elvin"  src="/images/elvin.jpeg"  alt="Picture of Elvin Ng"  height="220"  width="190">
</div>










<div id=links>
<nav>
  <ul>
    <li><button><a href="/">Home</li>
    <li><button><a href="/photos">Photos</a></button></li>

</div>

</nav>

  </ul>
</nav>

<h2>About Me
  </h2>

<p1>I live in San Francisco and am currently learning computer science with the Google CSSI Program. Next year, I will begin studying at Carleton College. My hobbies include playing basketball, trading markets, and hanging out with friends.
  </p1>

<h3>Education
  </h3>

<p>Raoul Wallenberg High School
  <br>
    2014-2018
  </p>

<h4>My Favorite Food
  </h4>

<ol>
  <li>Watermelon</li>
  <li>Mint Ice Cream</li>
  <li>Tacos</li>
</ol>
